
@{
    ViewData["Title"] = "榕沛社區 - 社團總覽";
}

<main class="container-fluid">

    <div><h1 style="display:block; width:100%" class="club_h1 ml11 mt3 mb2">社團總覽</h1></div>
    <div class="row left">

        <div class="col-md-6 col-lg-3  club">
            <div class="club_word">咖啡社</div>

            <img class="allclub_img" src="/images/coffeeclub.jpg" alt="">
        </div>
        <div class="col-md-6 col-lg-3  club">
            <a href="/Activity/plantclub">
                <div class="club_word">園藝社</div>
                <img class="allclub_img" src="/images/plantclub.jpg" alt="">
            </a>
        </div>
        <div class="col-md-6 col-lg-3  club">
            <div class="club_word" style="margin-left: 80px;">寵物交流社</div>
            <img class="allclub_img" src="/images/petclub.jpg" alt="">

        </div>
        <div class="col-md-6 col-lg-3  club">
            <div class="club_word">棋藝社</div>
            <img class="allclub_img" src="/images/club棋藝社.jpg" alt="">
        </div>
        <div class="col-md-6 col-lg-3  club">
            <div class="club_word">志工社</div>
            <img class="allclub_img" src="/images/club志工社.jpg" alt="">

        </div>
        <div class="col-md-6 col-lg-3  club">
            <div class="club_word">桌球社</div>
            <img class="allclub_img" src="/images/club桌球社.jpg" alt="">
        </div>
        <div class="col-md-6 col-lg-3  club">
            <div class="club_word">廚藝社</div>
            <img class="allclub_img" src="/images/club廚藝社.jpg" alt="">

        </div>
        <div class="col-md-6 col-lg-3  club">
            <div class="club_word">音樂社</div>
            <img class="allclub_img" src="/images/club音樂社.jpg" alt="">
        </div>

    </div>


</main>

