@model LLWP_Core.Models.TMemberdata
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "EditPassword";
    Layout = "~/Views/Shared/_Layout_Member.cshtml";
}

@using (Html.BeginForm())
{

    <div class="container" style="height:930px">
        <div style="margin-top:25px">
            <h2>修改密碼</h2>
        </div>
        <div style="margin-top:25px">
            <input type="password" placeholder='輸入密碼' name="txtPassword" />
        </div>
        <div style="margin-top:25px">
            <input type="password" placeholder='再次輸入密碼' name="txtNewPassword" />
            <span style="color:red">@Context.Session.GetString("SK_ERROR")</span>
        </div>
        <div style="margin-top:25px">
            <input type="submit" value="修改" />
        </div>
    </div>

}


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
