@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "榕沛社區-忘記密碼";
    Layout = "~/Views/Shared/_Layout_Member.cshtml";
}

@using (Html.BeginForm())
{

    <div class="container" style="height:930px">
        <div style="margin-top:25px">
            <h2>忘記密碼</h2>
            <h4>輸入註冊時的信箱</h4>
        </div>
        <div style="margin-top:25px">
            <input type="text"  name="txtMail" />
        </div>
        <div>
            <span style="color:red">@Context.Session.GetString("SK_ERROR")</span>
        </div>
        <div style="margin-top:25px">
            <input type="submit" value="送出" />
        </div>

    </div>
}
