
@{
    ViewBag.Title = "榕沛咖啡廳";
    Layout = "~/Views/Shared/_Layout_coffee.cshtml";
}


<div class=" container">
    <div class="videoAllDivSet row" style="align-items: flex-end;">
        <div>
            <video id="glass" autoplay muted width="100%" loop multiply>
                <source type="video/mp4" src="~/Content/coffee_ok1.mp4">
            </video>
        </div>
        <div class="videoDivSet"></div>
        <h2 class="introLine1">
            <div class="mb-3">
                <span class="introText">-</span>
                <span class="introText" style="color: #BDB76B;">人</span>
                <span class="introText"> </span>
                <span class="introText" style="color: #B8860B;">寵</span>
                <span class="introText" style="color: #B8860B;">物</span>
                <span class="introText"> </span>
                <span class="introText" style="color: #4D3900;">咖</span>
                <span class="introText" style="color: #4D3900;">啡</span>
                <span class="introText">-</span>
            </div>
        </h2>
        <h2 class="introLine2">
            <div>
                <span class="introText">-</span>
                <span class="introText">關</span>
                <span class="introText">懷</span>
                <span class="introText">彼</span>
                <span class="introText">此</span>
                <span class="introText"> </span>
                <span class="introText">孤</span>
                <span class="introText">獨</span>
                <span class="introText">不</span>
                <span class="introText">再</span>
                <span class="introText">-</span>
            </div>
        </h2>
    </div>
    <div class="row justify-content-between pl-5 pr-3">
        <div class="row " style="width:850px">
            <div class="row justify-content-between" style="width:825px">
                <div class="newImgDiv">
                    <img class="newIcon" src="~/Content/images/new.png">
                    <a href="#">
                        <img class="newImg shadow" src="~/Content/images/IMG_6222-470x310.jpg">
                    </a>
                    <div class="picTextSet">
                        <a href="#">
                            <p class="pSet">歡慶17周年！活動於店內舉辦中！</p>
                        </a>
                    </div>

                </div>

                <a href="#">
                    <div class="newImgDiv">
                        <img class="newIcon" src="~/Content/images/new.png">
                        <a href="#">
                            <img class="newImg shadow" src="~/Content/images/IMG_02491-470x310.jpg">
                        </a>
                        <div class="picTextSet">
                            <a href="#">
                                <p class="pSet">陽明大學醫師前來開發新營養菜單！</p>
                            </a>
                        </div>
                    </div>
                </a>
            </div>
            <div class="row justify-content-between" style="width:825px">
                <div class="norImgDiv">
                    <a href="#">
                        <img class="normalImg shadow" src="~/Content/images/IMG_6222-470x310.jpg">
                    </a>
                    <div class="picTextSet">
                        <a href="#">
                            <p class="pSet">歡慶17周年！活動於店內舉辦中！</p>
                        </a>
                    </div>
                </div>

                <div class="norImgDiv">
                    <a href="#">
                        <img class="normalImg shadow" src="~/Content/images/IMG_6222-470x310.jpg">
                    </a>
                    <div class="picTextSet">
                        <a href="#">
                            <p class="pSet">歡慶17周年！活動於店內舉辦中！</p>
                        </a>
                    </div>
                </div>

                <div class="norImgDiv">
                    <a href="#">
                        <img class="normalImg shadow" src="~/Content/images/IMG_6222-470x310.jpg">
                    </a>
                    <div class="picTextSet">
                        <a href="#">
                            <p class="pSet">歡慶17周年！活動於店內舉辦中！</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row justify-content-between" style="width:825px">
                <div class="norImgDiv">
                    <a href="#">
                        <img class="normalImg shadow" src="~/Content/images/IMG_6222-470x310.jpg">
                    </a>
                    <div class="picTextSet">
                        <a href="#">
                            <p class="pSet">歡慶17周年！活動於店內舉辦中！</p>
                        </a>
                    </div>
                </div>
                <div class="norImgDiv">
                    <a href="#">
                        <img class="normalImg shadow" src="~/Content/images/IMG_6222-470x310.jpg">
                    </a>
                    <div class="picTextSet">
                        <a href="#">
                            <p class="pSet">歡慶17周年！活動於店內舉辦中！</p>
                        </a>
                    </div>
                </div>
                <div class="norImgDiv">
                    <a href="#">
                        <img class="normalImg shadow" src="~/Content/images/IMG_6222-470x310.jpg">
                    </a>
                    <div class="picTextSet">
                        <a href="#">
                            <p class="pSet">歡慶17周年！活動於店內舉辦中！</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="posBordtDiv shadow-sm">
            <div class="postPTitleSet">
                <p>
                    2020.07.15 <i class="fas fa-mug-hot fa-2x"></i><br>
                    您好，歡迎來到榕沛Coffee
                </p>
            </div>
            <div class="postDividerPic"></div>
            <div class="postDivContentSet">
                <p class="postBigContnetSet">
                    本日特餐：<br>
                    白飯<br>
                    椒鹽南瓜<br>
                    醋溜高麗菜<br>
                    魚香茄子<br>
                    義大利雜菜湯<br>
                    奇異果
                </p>
            </div>
            <div class="postDividerPic"></div>
            <div class="postDivContentSet">
                <p class="postBigContnetSet">
                    本日悄悄話：<br>
                    今天是店長的10歲生日！<br>
                    歡迎大家一同慶生<br>
                    來店客人還有小禮物<br>
                    由店長親自贈送！<br>
                    今後也請大家多多支持！
                </p>
            </div>
        </div>
    </div>
    <div class="row justify-content-between ml-3 pr-3 shoppindAndMemberDiv">
        <div class="row shoppingDivSet">
            <div class="shoppingSmallDivSet">
                <a href="#">
                    <img class="shadow" src="~/Content/images/subsctop_banner.jpg" width="820px">
                </a>
            </div>
            <div class="shoppingSmallDivSet">
                <a href="#">
                    <img class="shadow" src="~/Content/images/bn_oem.jpg" width="395px">
                </a>
                <a href="#">
                    <img class="shadow" src="~/Content/images/bn_wholesale.jpg" width="395px">
                </a>
            </div>

            <div class="shoppingSmallDivSet">
                <a href="#">
                    <img class="shadow" src="~/Content/images/bn1.jpg" width="820px">
                </a>
            </div>
        </div>
        <div class="postNewsDiv row">
            <div class="mb-3" style="margin-right: 30px;">
                <img src="~/Content/images/rec-online.png" width="250px">
            </div>
            <a href="#">
                <div class="mb-3">
                    <div class="memberIcon">
                        <i class="fas fa-user-plus"></i>
                    </div>
                    <div class="memberAddText">
                        <span>加入會員</span>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="mb-3">
                    <div class="memberIcon">
                        <i class="fas fa-sign-in-alt"></i>
                    </div>
                    <div class="memberAddText">
                        <span>會員登入</span>
                    </div>
                </div>
            </a>
            <div class="row pr-4 " style="justify-content: center;">
                <div class="b-2">
                    <span class="chinereFontType">最新公告 </span><span class="engFont"> News</span>
                </div>
                <div class="postNewsTitleDivPic mb-2"></div>
                <div class="postNewDivContentSet">
                    <p class="postBigContnetSet">
                        2020.07.18<br>
                        7月20日(一)臨時公休。<br>
                        老闆要求底下員工出發探險古埃及文明，搜刮寶藏！
                    </p>
                </div>
                <div class="postNewsContentDivPic mb-2"></div>
                <div class="postNewDivContentSet">
                    <p class="postBigContnetSet">
                        2020.06.18<br>
                        應老闆要求新菜單開發完成，雞肉、鮪魚、雞蛋，三重享受！<br>
                    </p>
                </div>
                <div class="postNewsContentDivPic mb-2"></div>
                <div class="postNewDivContentSet">
                    <p class="postBigContnetSet">
                        2020.05.18<br>
                        冰箱的雞蛋被偷了？雞蛋小偷是誰！？重金選賞中！<br>
                        物證《破碎蛋殼》被發現在老闆辦公室中！
                    </p>
                </div>
                <div class="postNewsTitleDivPic mb-2"></div>
            </div>
        </div>
    </div>

    <div class="row commandItemDivSet">
        <div class="commandItemTitleSet" style="margin-bottom: -20px;">
            <p>
                <span class="chinereBigFontType">社區作品集</span>
            </p>
        </div>
        <div class="commandItemTitleSet">
            <p>
                <span class="engFont">Community Artwork</span>
            </p>
        </div>

        <div class="glider-contain multiple">
            <button class="glider-prev">
                <i class="fa fa-chevron-left"></i>
            </button>
            <div class="glider coffee_glider">
                <a href="#">
                    <div>
                        <div class="gliderDivSet">
                            <img src="~/Content/images/pic1.jpg" class="gliderImg shadow">
                        </div>
                        <div class="artworkFontType">
                            <p>老人與狗</p>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div>
                        <div class="gliderDivSet">
                            <img src="~/Content/images/pic1.jpg" class="gliderImg shadow">
                        </div>
                        <div class="artworkFontType">
                            <p>老人與狗</p>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div>
                        <div class="gliderDivSet">
                            <img src="~/Content/images/pic1.jpg" class="gliderImg shadow">
                        </div>
                        <div class="artworkFontType">
                            <p>老人與狗</p>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div>
                        <div class="gliderDivSet">
                            <img src="~/Content/images/pic1.jpg" class="gliderImg shadow">
                        </div>
                        <div class="artworkFontType">
                            <p>老人與狗</p>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div>
                        <div class="gliderDivSet">
                            <img src="~/Content/images/pic1.jpg" class="gliderImg shadow">
                        </div>
                        <div class="artworkFontType">
                            <p>老人與狗</p>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div>
                        <div class="gliderDivSet">
                            <img src="~/Content/images/pic1.jpg" class="gliderImg shadow">
                        </div>
                        <div class="artworkFontType">
                            <p>老人與狗</p>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div>
                        <div class="gliderDivSet">
                            <img src="~/Content/images/pic1.jpg" class="gliderImg shadow">
                        </div>
                        <div class="artworkFontType">
                            <p>老人與狗</p>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div>
                        <div class="gliderDivSet">
                            <img src="~/Content/images/pic1.jpg" class="gliderImg shadow">
                        </div>
                        <div class="artworkFontType">
                            <p>老人與狗</p>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div>
                        <div class="gliderDivSet">
                            <img src="~/Content/images/pic1.jpg" class="gliderImg shadow">
                        </div>
                        <div class="artworkFontType">
                            <p>老人與狗</p>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div>
                        <div class="gliderDivSet">
                            <img src="~/Content/images/pic1.jpg" class="gliderImg shadow">
                        </div>
                        <div class="artworkFontType">
                            <p>老人與狗</p>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div>
                        <div class="gliderDivSet">
                            <img src="~/Content/images/pic1.jpg" class="gliderImg shadow">
                        </div>
                        <div class="artworkFontType">
                            <p>老人與狗</p>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div>
                        <div class="gliderDivSet">
                            <img src="~/Content/images/pic1.jpg" class="gliderImg shadow">
                        </div>
                        <div class="artworkFontType">
                            <p>老人與狗</p>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div>
                        <div class="gliderDivSet">
                            <img src="~/Content/images/pic1.jpg" class="gliderImg shadow">
                        </div>
                        <div class="artworkFontType">
                            <p>老人與狗</p>
                        </div>
                    </div>
                </a>

            </div>
            <button class="glider-next">
                <i class="fa fa-chevron-right"></i>
            </button>
            <div id="dots" class="glider-dots"></div>
        </div>

    </div>
</div>
