
@{
    ViewBag.Title = "榕沛社區 - 關於我們";
    Layout = "~/Views/Shared/_Layout_env.cshtml";
}

<div>
    <div class="carouselFlexSet">
        <div id="carouselExampleSlidesOnly" class="carousel slide carouselWid carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="imgWidthEnd">
                        <img src="~/Content/images/enviro_community.jpg" class="d-block w-100">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="imgWidthEnd">
                        <img src="~/Content/images/enviro_garden.jpg" class="d-block w-100">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="imgWidthCenter">
                        <img src="~/Content/images/enviro_coffee23.jpg" class="d-block w-100">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="imgWidthCenter">
                        <img src="~/Content/images/enviro_gym.jpg" class="d-block w-100">
                    </div>
                </div>
            </div>
            <div class="env_bigTitle">
                <p>長青的關鍵<br>環境、飲食、運動<br>一應俱全</p>
            </div>
        </div>
    </div>
    <div class="container max_conatiner">
        <div class="row justify-content-between marginBottomMain">
            <div class="mr-4">
                <div class="mb-5">
                    <h2 class="bigFont">關於 榕沛社區</h2>
                    <h2>About　-Long Life with Pet-</h2>
                </div>
                <div class="divIntro">
                    <p>
                        榕沛社區提供住戶和寵物可以一起生活、共同養老的服務，讓長輩在入住養老院時不需要和心愛的寵物分開。<br>
                        若住戶日後因故無法繼續飼養，我們也會協助尋找合適的領養者或照顧寵物至終老，住戶可預付寵物的生活所需費用，不足的部分將會透過網路公眾募資籌措。
                    </p>
                </div>
            </div>
            <div class="longImgHeight1 mr-5">
                <img src="~/Content/images/about-01.jpg" height="700px">
            </div>
            <div class="longImgHeight2">
                <img src="~/Content/images/about-02.jpg" height="700px">
            </div>
        </div>
        <div class="row">
            <div class="mb-5">
                <h2 class="bigFont">關於 社區服務項目</h2>
                <h2>About　Services</h2>
            </div>
        </div>
    </div>

    <div class="marginBottomMain">
        <div class="serviceDiVSet marginBottomService">
            <div class="serviceImgSet">
                <img src="~/Content/images/enviro_community.jpg" width="900px">
            </div>
            <div class="serviceFontSet">
                <div>
                    <div>
                        <h3 class="serviceTitleFont">
                            自然園區
                        </h3>
                    </div>
                    <div class="serviceContentFont">
                        <p>
                            藉由山林之氣提供戶外靜心、親近自然、活動交流等空間，讓大自然的力量整合身、心、靈間之平衡。<br>
                            同時透過動手作東西，種植草花所產生的樂趣，為生活中增添意義及成就感。針對學習之樂趣及與大自然的親近，讓教學及交流活動可視天候於戶外舉行。<br>
                            另在考量年長者的動態性活動及與親子間的互動，設置運動場、兒童遊戲場及體健設施。
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="serviceDiVSet marginBottomService">
            <div class="serviceImgSet">
                <img src="~/Content/images/enviro_garden.jpg" width="900px">
            </div>
            <div class="serviceFontSet">
                <div>
                    <div>
                        <h3 class="serviceTitleFont">
                            生態特色
                        </h3>
                    </div>
                    <div class="serviceContentFont">
                        <p>
                            養生文化村戶外公園佔地約十五公頃以上，在動物生態部份目前有鳥類二十三種，<br>
                            分別為五色鳥、繡眼畫眉、大卷尾、白頭翁、斑頸鳩、紅嘴黑鵯、黃頭鷺、竹雞等，<br>
                            哺乳類兩種分別為赤腹松鼠及東亞家蝠，蝶類十九種，爬蟲類五種，<br>
                            另有具生態指標意義之昆蟲獨角仙及鍬形蟲等活動棲息。
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="serviceDiVSet marginBottomService">
            <div class="serviceImgSet">
                <img src="~/Content/images/enviro_coffee23.jpg" width="900px">
            </div>
            <div class="serviceFontSet">
                <div>
                    <div>
                        <h3 class="serviceTitleFont">
                            養生餐點
                        </h3>
                    </div>
                    <div class="serviceContentFont">
                        <p>
                            主要提供質地軟、易消化兼具健康、養生、均衡的少油、少鹽、少糖、適量纖維素的飲食，<br>
                            含有足夠的營養素，避免老年人營養缺乏及慢性疾病的發生，使他們能維持壯年時的精力與健康和延年益壽。<br>
                            參考國民營養健康狀況變遷調查報告，並以中醫養生藥材入菜，更適合長者的營養需求。
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="serviceDiVSet marginBottomService">
            <div class="serviceImgSet">
                <img src="~/Content/images/enviro_gym.jpg" width="900px">
            </div>
            
            <div class="serviceFontSet">
                <div>
                    <div>
                        <h3 class="serviceTitleFont">
                            運動場區
                        </h3>
                    </div>
                    <div class="serviceContentFont">
                        <p>
                            運動場區分為室內及室外<br>
                            分散於計畫道路左右兩側，面積約 2,215 坪，設有兒童遊戲場、籃球場、網球場、體健活動區等各一座<br>
                            為加強親子間的互動，將動態之球場、遊戲場及體健等活動在此融合使用，以達互動之功能

                            <br>
                            木棧觀景平台區亦提供住戶訓練體能、耐力之步道。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<div class="marginBottomMain">
        <div style="display: flex; justify-content: center; ">
            <div class="mb-5" style="width: 500px;">
                <h2 class="bigFont" style="text-align: center;">社團總覽</h2>
                <h2 style="text-align: center;">Clubs</h2>
            </div>
        </div>*@
        @*<div style="display: flex; justify-content: center; ">
            <div style="width: 70%;">
                <div class="glider-contain multiple ">
                    <button class="glider-prev">
                        <i class="fa fa-chevron-left"></i>
                    </button>
                    <div class="glider env_glider">
                        <a href="#">
                            <div>
                                <div class="env_gliderDivSet">
                                    <img src="~/Content/images/pic1.jpg" class="env_gliderImg">
                                </div>
                                <div class="chinereFontType">
                                    <p>老人與狗</p>
                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div>
                                <div class="env_gliderDivSet">
                                    <img src="~/Content/images/pic1.jpg" class="env_gliderImg">
                                </div>
                                <div class="chinereFontType">
                                    <p>老人與狗</p>
                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div>
                                <div class="env_gliderDivSet">
                                    <img src="~/Content/images/pic1.jpg" class="env_gliderImg">
                                </div>
                                <div class="chinereFontType">
                                    <p>老人與狗</p>
                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div>
                                <div class="env_gliderDivSet">
                                    <img src="~/Content/images/pic1.jpg" class="env_gliderImg">
                                </div>
                                <div class="chinereFontType">
                                    <p>老人與狗</p>
                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div>
                                <div class="env_gliderDivSet">
                                    <img src="~/Content/images/pic1.jpg" class="env_gliderImg">
                                </div>
                                <div class="chinereFontType">
                                    <p>老人與狗</p>
                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div>
                                <div class="env_gliderDivSet">
                                    <img src="~/Content/images/pic1.jpg" class="env_gliderImg">
                                </div>
                                <div class="chinereFontType">
                                    <p>老人與狗</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <button class="glider-next">
                        <i class="fa fa-chevron-right"></i>
                    </button>
                    <div id="dots" class="glider-dots"></div>
                </div>
            </div>
        </div>*@
    @*</div>*@


    <div style="display: flex; justify-content: center; ">
        <div class="mb-5" style="width: 500px;">
            <h2 class="bigFont" style="text-align: center;">交通資訊</h2>
            <h2 style="text-align: center;">Traffic Information</h2>
        </div>
    </div>
    <div style="margin-bottom: 20px;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3623.4257479946746!2d121.76094641487738!3d24.74658765590689!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3467e4e09bac9847%3A0x2bc886a059a740c2!2zMjYw5a6c6Jit57ij5a6c6Jit5biC6Zm95piO6LevMTMy5be3!5e0!3m2!1szh-TW!2stw!4v1595389791012!5m2!1szh-TW!2stw"
                width="100%" height="500" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                tabindex="0"></iframe>
    </div>
    <div style="display: flex; justify-content: center; margin-bottom: 20px;">
        <div style="background-color:orange">
            <div style="height: 25px;">
                <a href="/Home/Access"><p style="color:white">前往交通方式頁面→</p></a>
            </div>
        </div>
    </div>
    <div style="display: flex; justify-content: center;">
        <div class="endInfoDiv1">
            <i class="fas fa-map-marker-alt fa-2x endIconMargin1"></i>
            <p class="endInfoFont">宜蘭縣宜蘭市陽明路132巷10號</p>
        </div>
    </div>
    <div style="display: flex; justify-content: center; ">
        <div class="endInfoDiv2">
            <i class="fas fa-phone-alt fa-2x endIconMargin2"></i>
            <p class="endInfoFont">03 932 2214</p>
        </div>
    </div>
</div>
