<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
    <link rel="stylesheet" href="~/Content/fontawesome/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin="" />
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="~/Content/css/allcss.css">
</head>
<body>

    <nav id="navbar" class="navbar navbar-expand-lg navbar-light navClass navClass-RWD">
        <button onclick="navRWD()" class="navbar-toggler navBtnRWD" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto ml-auto">
                <li class="nav-item mt4 dropdown ml3RWD">
                    <a class="nav-link fz15 ls025 ml3 dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        認識榕沛
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item fz125 ls025 " href="/Home/Environment">關於我們</a>
                        <a class="dropdown-item fz125 ls025 " href="/Home/Access">環境介紹</a>
                        <a class="dropdown-item fz125 ls025 " href="/Home/QandA">常見問答</a>
                        <a class="dropdown-item fz125 ls025 " href="/Home/Contact">聯繫我們</a>
                    </div>
                </li>
                <li class="nav-item mt4 dropdown ml3RWD">
                    <a class="nav-link fz15 ls025 ml3 dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        服務項目
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item fz125 ls025 " href="/Home/longCover">長住服務</a>
                        <a class="dropdown-item fz125 ls025 " href="/Booking/BookingFirstPage">試住體驗</a>
                    </div>
                </li>

                <a class="navbar-brand" href="/Home/Index"><img src="~/Content/images/logo.png" class="logoSize" alt=""></a>
                <li class="nav-item mt4 dropdown ml3RWD">
                    <a class="nav-link fz15 ls025 ml3 dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        榕沛生活
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item fz125 ls025 " href="/Activity/club">社團介紹</a>
                        <a class="dropdown-item fz125 ls025 " href="/Activity/Index">活動總覽</a>

                    </div>
                </li>
                <li class="nav-item mt4 ml3RWD">
                    <a class="nav-link fz15 ls025" href="/Members/Login">會員登入</a>
                </li>
            </ul>
        </div>
    </nav>
             

    <div class="body-content">
        @RenderBody()
        <hr />
        <footer class="page-footer font-medium danger-color">

            <div class="bgc4">
                <div class="container">
                    <div class="row py-4 d-flex align-items-center">
                        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                            <h3 class="mb-0 f-rwd fz2 fz15RWD">榕沛社區&nbsp;&nbsp;&nbsp;&nbsp;Long Life With Pet</h3>
                        </div>
                        <div class="col-md-6 col-lg-7 text-center text-md-right">
                            <a class="fb-ic">
                                <i class="fab fa-facebook-f white-text mr-4 fz125"> </i>
                            </a>
                            <a class="tw-ic">
                                <i class="fab fa-twitter white-text mr-4"> </i>
                            </a>
                            <a class="gplus-ic">
                                <i class="fab fa-google-plus-g white-text mr-4 fz125"> </i>
                            </a>
                            <a class="li-ic">
                                <i class="fab fa-linkedin-in white-text mr-4 fz125"> </i>
                            </a>
                            <a class="ins-ic">
                                <i class="fab fa-instagram white-text mr-4 fz125"> </i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container text-center text-md-left mt-5">
                <div class="row mt-3">
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h5 class="text-uppercase font-weight-bold">榕沛社區</h5>
                        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 90px;">
                        <p class="ft-a">
                            <a href="#" class="footer-a class_a">關於本社區</a>
                        </p>
                        <p class="ft-a">
                            <a href="#" class="footer-a class_a">社區大事誌</a>
                        </p>
                        <p class="ft-a">
                            <a href="#" class="footer-a class_a">創辦宗旨</a>
                        </p>
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h5 class="text-uppercase font-weight-bold">了解更多</h5>
                        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 90px;">
                        <p class="ft-a">
                            <a href="#" class="footer-a class_a">常見問題</a>
                        </p>
                        <p class="ft-a">
                            <a href="#" class="footer-a class_a">榕沛故事棧</a>
                        </p>
                        <p class="ft-a">
                            <a href="#" class="footer-a class_a">加入我們</a>
                        </p>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h5 class="text-uppercase font-weight-bold class_a">公開資料</h5>
                        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 90px;">
                        <p class="ft-a">
                            <a href="#!" class="footer-info class_a">訂閱電子報</a>
                        </p>
                        <p class="ft-a">
                            <a href="#!" class="footer-info class_a">年度報告</a>
                        </p>
                    </div>
                    <div class="col-md-5 col-lg-5 col-xl-3 mx-auto mb-md-0 mb-4">

                        <!-- Links -->
                        <h5 class="text-uppercase font-weight-bold">聯絡我們</h5>
                        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 90px;">
                        <p>
                            <i class="fas fa-home mr-3"></i>宜蘭縣宜蘭市陽明路132巷10號
                        </p>
                        <p>
                            <i class="fas fa-envelope mr-3"></i>longlifewithpet@gmail.com
                        </p>
                        <p>
                            <i class="fas fa-phone mr-3"></i>03 932 2214
                        </p>
                        <p>
                            <i class="fas fa-print mr-3"></i>週一至週五 10:00 - 18:00
                        </p>

                    </div>
                </div>
            </div>
            <div class="footer-copyright text-center py-3">
                © 2020 Copyright:
                <a href="#" class="class_a"> longlifewithpet.com</a>
            </div>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>
    <script type="text/javascript" src="~/Content/js/alljs.js" charset="big5"></script>
    <script type="text/javascript" src="~/Content/js/leafLet.js"></script>
</body>
</html>