<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    @*<link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
        <link rel="icon" type="image/png" href="../assets/img/favicon.png">*@

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href=" https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        榕沛社區後台管理系統
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />

    @*<link rel="stylesheet" href=" https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>*@

    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link href="/css/PagedList.css" rel="stylesheet" />
    <!-- CSS Files -->
    <style>
        body {
            font-family: 'Noto Sans TC', sans-serif;
        }

        .list-title {
            margin: 30px auto;
        }

        .room-title {
            margin: 50px 120px;
        }

        .navClass-act {
            padding: 0;
            background-color: #b1d3c5;
        }

        .navbar-brand-step3 {
            padding: 0;
            margin: 0;
        }

        a {
            color: black;
            text-decoration: none;
        }

        .logoSize-step3 {
            width: 4.5rem;
        }

        .fz15 {
            font-size: 1.5rem;
        }

        .ls025 {
            letter-spacing: 0.25rem;
        }

        .nav-reser {
            height: 72px;
            line-height: 56px;
        }

        .booking-nav {
            width: 200px;
            margin: 50px 20px 0 10px;
            font-size: 22px;
            border-right-style: solid;
        }

        .book-nav-link {
            line-height: 80px;
            text-align: end;
        }

        .booking-nav a {
            height: 80px;
        }

        .create-btn {
            background-color: #e1f1e7;
            border: 1px solid gray;
            padding: 2px 5px;
            text-align: center;
            border-radius: .25rem;
            width: 80px;
            font-size: 24px;
            font-weight: 300;
        }

        .p0 {
            padding: 0;
        }

        .create-label {
            font-size: 20px;
            line-height: 24px;
            text-align: right;
            padding: 2px 0 6px 0;
            margin: 0;
            font-weight: 300;
        }

        .create-radio {
            font-size: 20px;
            line-height: 24px;
            text-align: left;
            padding: 2px 0 6px 15px;
            margin: 0 0 0 20px;
            font-weight: 300;
        }

        .file-label {
            font-size: 20px;
            line-height: 24px;
            text-align: right;
            padding: 4px 0;
            margin: 0;
            font-weight: 300;
        }

        .file-fImage {
            font-size: 20px;
            line-height: 24px;
            text-align: right;
            padding: 4px 0;
            margin: 0 0 0 20px;
            font-weight: 100;
        }

        footer {
            position: fixed;
            bottom: 0;
            background-color: #e4beb3;
            width: 100%;
            line-height: 1rem;
        }

            footer p {
                margin: 16px auto;
            }

        .edit-title {
            margin-left: 10px;
        }

        .back-link {
            font-size: 20px;
            color: blue;
        }

        a:hover {
            text-decoration: none;
        }

        .create-form {
            width: 350px;
            margin-bottom: 100px;
        }

        .save-btn {
            width: 100px;
            font-size: 20px;
            align-items: center;
        }

        .showAllBtn {
            width: 150px;
            font-size: 20px;
            align-items: center;
        }

        .createNewBtn {
            width: 220px;
            font-size: 20px;
            align-items: center;
        }

        th {
            text-align: center;
        }

        td {
            line-height: 45px;
            text-align: center;
        }

        .orderTableHeaderTitles {
            font-size: 1.125rem;
        }

            .orderTableHeaderTitles:hover {
                cursor: pointer;
            }

        .detail-title {
            margin-right: 1rem;
            width: 13%;
        }

        .detail-title-new {
            margin-right: 1rem;
            width: 150px;
        }

        .create-title {
            /*margin-right:1rem;*/
            width: 40%;
        }

        .dateTextbox:hover {
            cursor: pointer;
        }

        .fontawosome-icon-flex {
            display: flex;
            flex-direction: column;
        }


        .search-textbox-size {
            width: 336px;
            height: 36px;
        }

        .search-section {
            border: 1px solid #878787;
        }

        .border-radius-4px {
            border-radius: 4px;
            /*border-color: #878787;*/
        }

        .orderTableHeaderTitles:hover {
            color: #2550da;
            /*background-color: #D4D4D4;
            opacity:0.3;*/
        }
    </style>

</head>

<body>
    <nav class="navbar navbar-expand-lg navClass-act">
        <button onclick="navRWD()" class="navbar-toggler navBtnRWD" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <a class="navbar-brand-step3" href="#"><img src="/images/logo.png" class="logoSize-step3" alt=""></a>
                <li class="nav-item">
                    <a class="nav-link fz15 ls025 nav-reser">榕沛社區後台管理系統</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid body-content">
        @RenderBody()
    </div>
    <div>
        <footer class="page-footer font-medium danger-color">

            <div>
                <div class="container">
                    <div class="row py-2 d-flex align-items-center">
                        <p class="footer-p">榕沛社區 © 2020 Copyright:longlifewithpet.com</p>
                    </div>
                </div>
            </div>

        </footer>
    </div>
    <!--   Core JS Files   -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href=" https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>    @*<script src="../assets/js/core/jquery.min.js"></script>*@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    <script>
        $(function () {
        var page = window.location.hash
                ? window.location.hash.slice(1)
                : 1;
        fetchPage(page);
    });

     var fetchPage = function(page) {
         var pagedPartialUrl = '@Url.Action("ListPagedPartial", "roomOrder")';
         console.log("page: " + page);
        $.get(pagedPartialUrl, { page: page }, function(data) {

            window.location.hash = page;
            console.log("page: "+ page);

            $('#OrderData').html(data);

            $('#OrderData .pagination li a').each(function (i, item) {
                var hyperLinkUrl = $(item).attr('href');
                if (typeof hyperLinkUrl !== 'undefined' && hyperLinkUrl !== false) {
                    var pageNumber = $(item).attr('href').replace('/RoomOrder?page=', '');
                    $(item).attr('href', '#').click(function(event) {
                        event.preventDefault();
                        $(event.target).attr('href');
                        fetchPage(pageNumber);
                        console.log("pageNumber: "+pageNumber);
                    });
                }
            });
        });
    };



        //<button onclick="toastr['success']('成功啦！', '成功');">成功</button><br>
        //<button onclick="toastr['info']('資訊來囉！', '資訊');">資訊</button><br>
        //<button onclick="toastr['warning']('被警告了！', '警告');">警告</button><br>
        //<button onclick="toastr['error']('有什麼錯誤了！', '錯誤');">錯誤</button><br>



        //成功的版本，可搜尋訂單編號
        $("#Search").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: '@Url.Action("GetAutoCompleteSearchData", "roomOrder")',
                dataType: "json",
                data: { searchValue: $("#Search").val() },
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: item.fOrNum, value: item.fOrNum };
                    }));
                },
                error: function (xhr, status, error) {
                    alert("Error");
                }
            });
        }
    });
        $("#SearchBtn").click(function () {
            var SearchBy = $("#SearchBy").val();
            var SearchValue = $("#Search").val();
            var txtfOrdate = $("#txtfOrDate").val();
            var txtfOrCheckIn = $("#txtfOrCheckIn").val();

            //加入ajax資料的地方
            var SetData = $("#DataSearching");

            //var dataWithToken = { SearchBy: SearchBy, SearchValue: SearchValue };
            SetData.html("");
            $.ajax({
                type: "post",
                //url: "/roomOrder/GetBookingOrderSearchingData?SearchBy=" + SearchBy + "&SearchValue=" + SearchValue + "&txtfOrdate=" + txtfOrdate + "&txtfOrCheckIn=" + txtfOrCheckIn,
                url: "/roomOrder/ListPagedPartial?SearchBy=" + SearchBy + "&SearchValue=" + SearchValue + "&txtfOrdate=" + txtfOrdate + "&txtfOrCheckIn=" + txtfOrCheckIn,
                //url:"小老鼠Url.Action("GetSearchingData","Home")",//需搭配data用querying string 否則會抓不到資料
                //url: '/Home/GetBookingOrderSearchingData',
                //data: JSON.stringify(dataWithToken),
                //dataType: "json",
                contentType: "html",//傳送資料到伺服器的格式
                success: function (result) {
                    toastr.options.positionClass = 'toast-top-center';
                    toastr['success']('查詢成功');
                    $('#OrderData').html(result);
                },
                error: function (result) {
                    toastr.options.positionClass = 'toast-top-center';
                    toastr['error']('查無資料');
                }
                //}
            })
        })

        //用迴圈綁每個標題列的click事件
        var titles = document.querySelectorAll(".orderTableHeaderTitles");
        console.log(titles)
        //console.log("id" + e.target.attr("id"));
        //var a = titles[0].attr("id");
        //console.log("titles" + a );
        for (i = 0; i < titles.length; i++) {
            titles[i].addEventListener("click", function (event) {
                var SetData = $("#DataSearching");
                SetData.html("");
                //console.log("id: " + event.target.id);
                //var OrNumpara = attr(this.id)
                //console.log("id2: " + $(this).attr("id"));
                $.ajax({
                    url: "/roomOrder/ColumnSort",
                    data: { sortOrder: $(this).attr("id") },
                    success: function (result) {
                        $.each(result, function (index, value) {
                            var Data = `<tr>
                                                    <td>
                                                        ${value.fOrNum}
                                                    </td>
                                                    <td>
                                                        ${value.fOrDate}
                                                    </td>
                                                    <td>
                                                        ${value.fOrCheckIn}
                                                    </td>
                                                    <td>
                                                        ${value.fOrCheckOut}
                                                    </td>
                                                    <td>
                                                        ${value.fOrday}
                                                    </td>
                                                    <td>
                                                        ${value.fOrGuestOneId}
                                                    </td>
                                                    <td>
                                                        ${value.fOrRoomId}
                                                    </td>
                                                    <td>
                                                        ${value.fOrTotalPrice}
                                                     </td>
                                                     <td>
                                                        <a href="/roomOrder/Details" id= "${value.fOrId}" class="btn btn-info fas fa-info-circle"> </a>
                                                        <a href="/roomOrder/Edit" id= "${value.fOrId}" class="btn btn-success fas fa-edit"> </a>
                                                        <a href="/roomOrder/Delete" id= "${value.fOrId}" class="btn btn-danger fas fa-trash" onclick = "return confirm('確定要刪除嗎？')"> </a>
                                                    </td>
                                                 </tr>`;
                            SetData.append(Data);
                        })
                    }
                });
            })
        }
        function resetTableHeaderImgOriginal() {
            $('#fOrNumSortArrow').removeClass("fas fa-caret-up");
            $('# fOrDateSortArrow').removeClass("fas fa-caret-up");


            $('#fOrNumSortArrowOrginal').show();
            $('#fOrDateSortArrowOrginal').show();
        }
        $("#fOrNumSortParm").click(function () {
            $('#fOrNumSortArrowOrginal').hide();
            if ($('#fOrNumSortArrow').hasClass("fas fa-caret-down"))
                $('#fOrNumSortArrow').removeClass("fas fa-caret-down").addClass("fas fa-caret-up");
            else
                $('#fOrNumSortArrow').removeClass("fas fa-caret-up").addClass("fas fa-caret-down");
        })
        $("#fOrDateSortParm").click(function () {
            //resetTableHeaderImgOriginal();
            $('#fOrDateSortArrowOrginal').hide();

            if ($('#fOrDateSortArrow').hasClass("fas fa-caret-down"))
                $('#fOrDateSortArrow').removeClass("fas fa-caret-down").addClass("fas fa-caret-up");
            else
                $('#fOrDateSortArrow').removeClass("fas fa-caret-up").addClass("fas fa-caret-down");

            //if ($('#fOrDateSortArrow').hasClass("fas fa-caret-up"))
            //    $('#fOrDateSortArrow').removeClass("fas fa-caret-up").addClass("fas fa-caret-down");
            //else
            //    $('#fOrDateSortArrow').removeClass("fas fa-caret-down").addClass("fas fa-caret-up");
        })


    </script>
</body>

</html>