
@{
    ViewBag.Title = "榕沛社區 - 會員個人資訊";
    Layout = "~/Views/Shared/_Layout_Member.cshtml";
}
<div class="container-fluid" style="height:930px">
    <div class="container w-75 ">
        <div>
            <div class="divMargin">
                <div class="bg-white rounded-lg shadow-sm p-5">
                    <!-- Credit card form tabs -->
                    <ul role="tablist" class="nav bg-light nav-tabs  nav-fill mb-3  w-100" style="border: none;">
                        <li class="nav-item">
                            <a data-toggle="pill" href="#nav-tab-health" class="nav-link active ">
                                <i class="fas fa-heart"></i>
                                生理狀況
                            </a>
                        </li>
                        <li class="nav-item">
                            <a data-toggle="pill" href="#nav-tab-memberdata" class="nav-link   ">
                                <i class="fas fa-user-friends"></i>
                                會員資料
                            </a>
                        </li>
                        <li class="nav-item">
                            <a data-toggle="pill" href="#nav-tab-petdata" class="nav-link ">
                                <i class="fas fa-dog"></i>
                                寵物資料
                            </a>
                        </li>
                        <li class="nav-item">
                            <a data-toggle="pill" href="#nav-tab-rmdata" class="nav-link ">
                                <i class="fas fa-home"></i>
                                訂房資訊
                            </a>
                        </li>
                        <li class="nav-item">
                            <a data-toggle="pill" href="#nav-tab-activity" class="nav-link ">
                                <i class="fab fa-pagelines"></i>
                                活動資訊
                            </a>
                        </li>
                    </ul>
                    <!-- End -->
                    <!-- Credit card form content -->
                    <div class="tab-content">

                        <!-- credit card info-->
                        <div id="nav-tab-health" class="tab-pane fade show active">
                            <div class="w-100 detailTitleSet pt-5">
                                <h2>健康資訊</h2>
                            </div>
                            <div class="detailDivSet w-100">
                                <div class="d-flex detailContainerDivSet">
                                    <div class="w-50">
                                        血壓：
                                    </div>
                                    <div class="w-50">
                                        120/80 mmHg
                                    </div>
                                </div>
                                <div class="d-flex detailContainerDivSet">
                                    <div class="w-50">
                                        身高：
                                    </div>
                                    <div class="w-50">
                                        165cm
                                    </div>
                                </div>
                                <div class="d-flex detailContainerDivSet">
                                    <div class="w-50">
                                        體重：
                                    </div>
                                    <div class="w-50">
                                        50kg
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                        <div id="nav-tab-memberdata" class="tab-pane fade show ">
                            <div class="w-100 detailTitleSet pt-5 d-flex">
                                <div>
                                    <h2>會員資料</h2>
                                </div>
                                <div><a href="">(修改)</a></div>
                            </div>
                            <div class="detailDivSet w-100">
                                <div class="d-flex detailContainerDivSet">
                                    <div class="">

                                    </div>
                                    <div class="w-100">
                                        <img src="~/Content/images/marco.jpg">
                                    </div>
                                </div>
                                <div class="d-flex detailContainerDivSet">
                                    <div class="w-50">
                                        會員編號：
                                    </div>
                                    <div class="w-50">
                                        0001
                                    </div>
                                </div>
                                <div class="d-flex detailContainerDivSet">
                                    <div class="w-50">
                                        姓名：
                                    </div>
                                    <div class="w-50">
                                        Marco
                                    </div>
                                </div>
                                <div class="d-flex detailContainerDivSet">
                                    <div class="w-50">
                                        生日：
                                    </div>
                                    <div class="w-50">
                                        1993/08/12
                                    </div>
                                </div>
                                <div class="d-flex detailContainerDivSet">
                                    <div class="w-50">
                                        性別：
                                    </div>
                                    <div class="w-50">
                                        男
                                    </div>
                                </div>
                                <div class="d-flex detailContainerDivSet">
                                    <div class="w-50">
                                        信箱：
                                    </div>
                                    <div class="w-50">
                                        Marco@gmail.com
                                    </div>
                                </div>
                                <div class="d-flex detailContainerDivSet">
                                    <div class="w-50">
                                        密碼：
                                    </div>
                                    <div class="w-50">
                                        *******
                                    </div>
                                </div>
                                <div class="d-flex detailContainerDivSet">
                                    <div class="w-50">
                                        電話：
                                    </div>
                                    <div class="w-50">
                                        0914444853
                                    </div>
                                </div>
                                <div class="d-flex detailContainerDivSet">
                                    <div class="w-50">
                                        年齡：
                                    </div>
                                    <div class="w-50">
                                        35
                                    </div>
                                </div>
                                <div class="d-flex detailContainerDivSet">
                                    <div class="w-50">
                                        身分證字號/居留證：
                                    </div>
                                    <div class="w-50">
                                        F1114555986
                                    </div>
                                </div>
                                <div class="d-flex detailContainerDivSet">
                                    <div class="w-50">
                                        國籍：
                                    </div>
                                    <div class="w-50">
                                        烏干達
                                    </div>
                                </div>
                                <div class="d-flex detailContainerDivSet">
                                    <div class="w-50">
                                        緊急聯絡人：
                                    </div>
                                    <div class="w-50">
                                        MMarco
                                    </div>
                                </div>
                                <div class="d-flex detailContainerDivSet">
                                    <div class="w-50">
                                        緊急聯絡人電話：
                                    </div>
                                    <div class="w-50">
                                        0988654123
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                        <!-- End -->
                        <!-- Paypal info -->
                        <div id="nav-tab-petdata" class="tab-pane fade">
                            <div class="w-100 detailTitleSet pt-5 d-flex">
                                <div>
                                    <h2>寵物資訊</h2>
                                </div>
                                <div><a href="">(修改)</a></div>
                            </div>
                            <div class="detailDivSet w-100">
                                <div class="d-flex detailContainerDivSet">
                                    <div class="">

                                    </div>
                                    <div class="w-100">
                                        <img src="~/Content/images/dog.jpg" width="300px">
                                    </div>
                                </div>
                                <div class="detailDivSet w-100">
                                    <div class="d-flex detailContainerDivSet">
                                        <div class="w-50">
                                            飼養會員編號：
                                        </div>
                                        <div class="w-50">
                                            0001
                                        </div>
                                    </div>
                                    <div class="d-flex detailContainerDivSet">
                                        <div class="w-50">
                                            寵物編號：
                                        </div>
                                        <div class="w-50">
                                            0001
                                        </div>
                                    </div>
                                    <div class="d-flex detailContainerDivSet">
                                        <div class="w-50">
                                            晶片號碼：
                                        </div>
                                        <div class="w-50">
                                            900073000258909
                                        </div>
                                    </div>
                                    <div class="d-flex detailContainerDivSet">
                                        <div class="w-50">
                                            品種：
                                        </div>
                                        <div class="w-50">
                                            阿柴
                                        </div>
                                    </div>
                                    <div class="d-flex detailContainerDivSet">
                                        <div class="w-50">
                                            年齡：
                                        </div>
                                        <div class="w-50">
                                            5歲
                                        </div>
                                    </div>
                                    <div class="d-flex detailContainerDivSet">
                                        <div class="w-50">
                                            體重：
                                        </div>
                                        <div class="w-50">
                                            9kg
                                        </div>
                                    </div>
                                    <div class="d-flex detailContainerDivSet">
                                        <div class="w-50">
                                            生日：
                                        </div>
                                        <div class="w-50">

                                        </div>
                                    </div>
                                    <div class="d-flex detailContainerDivSet">
                                        <div class="w-50">
                                            性別：
                                        </div>
                                        <div class="w-50">
                                            母
                                        </div>
                                    </div>
                                    <div class="d-flex detailContainerDivSet">
                                        <div class="w-50">
                                            施打疫苗：
                                        </div>
                                        <div class="w-50">
                                            已施打
                                        </div>
                                    </div>
                                    <div class="d-flex detailContainerDivSet">
                                        <div class="w-50">
                                            絕育：
                                        </div>
                                        <div class="w-50">
                                            已絕育
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                            <!-- End -->
                            <!-- bank transfer info -->
                            <!-- End -->
                        </div>
                        <!-- End -->
                        <div id="nav-tab-rmdata" class="tab-pane fade">
                            <div class="w-100 detailTitleSet pt-5">
                                <h2>房間資訊</h2>
                            </div>
                            <div class="detailDivSet w-100">
                                <div class="d-flex detailContainerDivSet">
                                    <div class="w-50">
                                        入住日期：
                                    </div>
                                    <div class="w-50">
                                        2020/09/30
                                    </div>
                                </div>
                                <div class="d-flex detailContainerDivSet">
                                    <div class="w-50">
                                        退房日期：
                                    </div>
                                    <div class="w-50">
                                        2020/10/23
                                    </div>
                                </div>
                                <div class="d-flex detailContainerDivSet">
                                    <div class="w-50">
                                        入住天數：
                                    </div>
                                    <div class="w-50">
                                        23 天
                                    </div>
                                </div>
                                <div class="d-flex detailContainerDivSet">
                                    <div class="w-50">
                                        房間：
                                    </div>
                                    <div class="w-50">
                                        1 間
                                    </div>
                                </div>
                                <div class="d-flex detailContainerDivSet">
                                    <div class="w-50">
                                        房型：
                                    </div>
                                    <div class="w-50">
                                        寵物房  一房兩廳
                                    </div>
                                </div>
                                <div class="d-flex detailContainerDivSet">
                                    <div class="w-50">
                                        人數：
                                    </div>
                                    <div class="w-50">
                                        2 位
                                    </div>
                                </div>
                                <hr>
                            </div>

                        </div>
                        <div id="nav-tab-activity" class="tab-pane fade">
                            <div class="w-100 detailTitleSet pt-5">
                                <h2>活動資訊</h2>
                            </div>
                            <div class="detailDivSet w-100">
                                <div class="d-flex detailContainerDivSet">
                                    <div class="w-50">
                                        活動日期：
                                    </div>
                                    <div class="w-50">
                                        2020/10/02(五)
                                    </div>
                                </div>
                                <div class="d-flex detailContainerDivSet">
                                    <div class="w-50">
                                        活動名稱：
                                    </div>
                                    <div class="w-50">
                                        吉他入門
                                    </div>
                                </div>
                                <div class="d-flex detailContainerDivSet">
                                    <div class="w-50">
                                        活動時間：
                                    </div>
                                    <div class="w-50">
                                        14:00
                                    </div>
                                </div>
                                <div class="d-flex detailContainerDivSet">
                                    <div class="w-50">
                                        活動地點：
                                    </div>
                                    <div class="w-50">
                                        活動中心音樂室
                                    </div>
                                </div>
                                <hr style="margin-top:25px;">
                            </div>

                            <div class="detailDivSet w-100">
                                <div class="d-flex detailContainerDivSet">
                                    <div class="w-50">
                                        活動日期：
                                    </div>
                                    <div class="w-50">
                                        2020/10/14(三)
                                    </div>
                                </div>
                                <div class="d-flex detailContainerDivSet">
                                    <div class="w-50">
                                        活動名稱：
                                    </div>
                                    <div class="w-50">
                                        寵物沙龍照
                                    </div>
                                </div>
                                <div class="d-flex detailContainerDivSet">
                                    <div class="w-50">
                                        活動時間：
                                    </div>
                                    <div class="w-50">
                                        13:00
                                    </div>
                                </div>
                                <div class="d-flex detailContainerDivSet">
                                    <div class="w-50">
                                        活動地點：
                                    </div>
                                    <div class="w-50">
                                        大草皮
                                    </div>
                                </div>
                                <hr style="margin-top:25px;">
                            </div>

                            <div class="detailDivSet w-100">
                                <div class="d-flex detailContainerDivSet">
                                    <div class="w-50">
                                        活動日期：
                                    </div>
                                    <div class="w-50">
                                        2020/10/21(三)
                                    </div>
                                </div>
                                <div class="d-flex detailContainerDivSet">
                                    <div class="w-50">
                                        活動名稱：
                                    </div>
                                    <div class="w-50">
                                        讀書會
                                    </div>
                                </div>
                                <div class="d-flex detailContainerDivSet">
                                    <div class="w-50">
                                        活動時間：
                                    </div>
                                    <div class="w-50">
                                        19:00
                                    </div>
                                </div>
                                <div class="d-flex detailContainerDivSet">
                                    <div class="w-50">
                                        活動地點：
                                    </div>
                                    <div class="w-50">
                                        活動中心小教室
                                    </div>
                                </div>
                                <hr style="margin-top:25px;">

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>