
@{
    ViewBag.Title = "榕沛社區 - 會員申請";
    Layout = "~/Views/Shared/_Layout_Member.cshtml";
}
<div class="backColor-reg shadow">
    <div class="container">
        <div class=" mb-5">
            <div class="row mb-2">
                <div class="">
                    <h3 class="title formFont">註冊</h3>
                    <h5 class="title formFont">成為榕沛會員</h5>
                </div>
                <div class="form-group w-100 d-flex">
                    <div class="d-flex align-items-top formDivSet w-25">
                        <div class="labelSet"><label for="inputName">姓名</label></div>
                    </div>
                    <input type="text" class="form-control w-75" id="inputName">
                </div>
                <div class="radioButtonSet">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline1" name="customRadioInline1"
                               class="custom-control-input" checked>
                        <label class="custom-control-label" for="customRadioInline1">先生</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline2" name="customRadioInline1"
                               class="custom-control-input">
                        <label class="custom-control-label" for="customRadioInline2">女士</label>
                    </div>
                </div>
                <hr>
                <div class="form-group d-flex w-100">
                    <div class="formDivSet w-25">
                        <div class="labelSet"><label for="inputID">身分證/居留證</label></div>
                    </div>
                    <input type="text" class="form-control w-75" id="inputID">
                </div>
                <hr>
                <div class="form-group d-flex w-100">
                    <div class="formDivSet w-25">
                        <div class="labelSet"><label for="country">國籍</label></div>
                    </div>
                    <input type="text" class="form-control w-75" id="inputCountry">
                </div>
                <hr>
                <div class="form-group d-flex w-100">
                    <div class="formDivSet w-25">
                        <div class="labelSet"><label for="gender"></label>性別</div>
                    </div>
                    <input type="text" class="form-control w-75" id="inputgender">
                </div>
                <hr>
                <div class="form-group d-flex w-100">
                    <div class="formDivSet w-25">
                        <div class="labelSet"><label for="address"></label>地址</div>
                    </div>
                    <input type="text" class="form-control w-75" id="inputaddress">
                </div>
                <hr>
                <div class="form-group w-100 d-flex">
                    <div class="d-flex align-items-top lavelDivSet w-25">
                        <div class="labelSet"><label for="inputEmail">電子信箱</label></div>
                    </div>
                    <input type="text" class="form-control w-75" id="inputEmail">
                </div>
                <hr>
                <div class="form-group d-flex w-100">
                    <div class="formDivSet w-25">
                        <div class="labelSet"><label for="inputPhone">手機</label></div>
                    </div>
                    <input type="text" class="form-control w-75" id="inputPhone">
                </div>
                <hr>
                <hr class="mb-5">
                <div class="form-group w-100 d-flex">
                    <div class="labelSet w-25"><label for="inputBirthday">出生日期</label></div>
                    <div class="w-75 d-flex " style="justify-content: space-between;">
                        <select class="col-sm-4" name="birth_year" style="height:38px; padding:0 80px 0 15px">
                            <option value="">年</option>
                            <option value="20">2020</option>
                            <option value="21">2021</option>
                            <option value="22">2022</option>
                            <option value="23">2023</option>
                            <option value="24">2024</option>
                            <option value="25">2025</option>
                            <option value="26">2026</option>
                            <option value="27">2027</option>
                            <option value="28">2028</option>
                        </select>
                        <select class="col-sm-3" name="birth_month" id="birth_month" style=" padding:0 80px 0 15px" ;>
                            <option>月</option>
                            <option value="01">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="05">05</option>
                            <option value="06">06</option>
                            <option value="07">07</option>
                            <option value="08">08</option>
                            <option value="09">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                        <select class="col-sm-3" name="birth_day" id="birth_day" style=" padding:0 80px 0 15px" ;>
                            <option>日</option>
                            <option value="01">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="05">05</option>
                            <option value="06">06</option>
                            <option value="07">07</option>
                            <option value="08">08</option>
                            <option value="09">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                    </div>
                </div>
                <hr>
                <div class="form-group d-flex w-100">
                    <div class="formDivSet w-25">
                        <div class="labelSet"><label for="emperson">緊急聯絡人</label></div>
                    </div>
                    <input type="text" class="form-control w-75" id="inputemperson">
                </div>
                <hr>
                <div class="form-group d-flex w-100">
                    <div class="formDivSet w-25">
                        <div class="labelSet"><label for="empphone">緊急連絡人電話</label></div>
                    </div>
                    <input type="text" class="form-control w-75" id="inputempphone">
                </div>
                <hr>
                <div class="form-group d-flex w-100">
                    <div class="formDivSet w-25">
                        <div class="labelSet"><label for="inputReligion">宗教信仰</label></div>
                    </div>
                    <input type="text" class="form-control w-75" id="inputReligion">
                </div>
                <hr>
                <div class="form-group d-flex w-100">
                    <div class="formDivSet w-25">
                        <div class="labelSet">
                            <label class="" for="customFile">個人照片</label>
                        </div>
                    </div>
                    <input type="file" class=" w-75" id="customFile">
                </div>
                <hr>
                <div class="form-group w-100 d-flex" style="height:38px">
                    <div class="labelSet w-25"><label for="inputforPet">攜帶寵物</label></div>
                    <div class="w-75 d-flex ">
                        <select class="col-sm-4" name="forpet">
                            <option value="">是否攜帶</option>
                            <option value="1">是</option>
                            <option value="2">否</option>
                        </select>
                    </div>
                </div>
                <hr>
                <div class="mt10 jcc" style="width:100%; display:flex;" >
                        <a href="/Members/RegisteredPet" style="display:block" class="btn btn-warning btn-lg w150" role="button" aria-pressed="true">下一頁</a>
                </div>
            </div>
        </div>
        <!-- Modal -->
    </div>
</div>
